n8n/adflow-generate-video.template.json
{
  "name": "UGC生成视频 template",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "name": "Webhook: Generate Video",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        0
      ],
      "parameters": {
        "path": "final-generate-video",
        "httpMethod": "GET",
        "responseMode": "onReceived",
        "responseData": "firstEntryJson",
        "options": {
          "responseCode": 200,
          "responseData": "视频生成任务已开始，请回到前端等待自动刷新。"
        }
      },
      "id": "d7dd54eb-03eb-4c7d-be1d-0079061a5fb7",
      "webhookId": "c6b90fef-e1b3-42a5-843a-e1fc27f73ba5"
    },
    {
      "name": "Prepare UGC input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        260,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst query = $input.first().json.query || {};\nconst videoRecordId = String(query.video_record_id || '').trim();\nif (!videoRecordId) throw new Error('缺少 video_record_id');\nconst token = await feishuToken();\nconst queryReferenceUrl = String(query.reference_url || '').trim();\nconst queryLanguage = String(query.language || '').trim();\nconst queryPersona = String(query.persona || '').trim();\nconst queryFinalDialogue = String(query.final_dialogue || '').trim();\nconst queryExistingImageUrl = String(query.existing_image_url || '').trim();\nconst queryMode = Boolean(queryReferenceUrl || queryLanguage || queryPersona || queryFinalDialogue || queryExistingImageUrl);\nconst video = queryMode\n  ? { fields: { '产品图URL': urlValue(queryReferenceUrl), '语言': queryLanguage, '达人偏好': queryPersona, 'Veo口播脚本': queryFinalDialogue, 'UGC关键图URL': urlValue(queryExistingImageUrl) } }\n  : await getRecord(token, VIDEO_TABLE, videoRecordId);\nif (!video) throw new Error('找不到视频任务');\nconst productId = linkIds(video.fields['关联产品'])[0];\nconst hookId = linkIds(video.fields['关联Hook'])[0];\nconst scriptId = linkIds(video.fields['关联脚本'])[0];\nconst productResult = queryMode ? { record: null, warning: '' } : await optionalRecord(token, PRODUCT_TABLE, productId, '产品');\nconst hookResult = queryMode ? { record: null, warning: '' } : await optionalRecord(token, HOOK_TABLE, hookId, 'Hook');\nconst scriptResult = queryMode ? { record: null, warning: '' } : await optionalRecord(token, SCRIPT_TABLE, scriptId, '脚本');\nconst product = productResult.record || { fields: {} };\nconst hook = hookResult.record || { fields: {} };\nconst script = scriptResult.record || { fields: {} };\nconst warnings = [productResult.warning, hookResult.warning, scriptResult.warning].filter(Boolean);\nconst referenceUrl = urlCell(video.fields['产品图URL']) || urlCell(product.fields['产品主图URL']);\nif (!referenceUrl) throw new Error('缺少产品图 URL。请在视频任务里填写产品图URL，或确保产品主图URL存在。');\nconst language = firstSelect(video.fields['语言']) || '中文';\nconst finalDialogue = textCell(video.fields['Veo口播脚本']);\nconst existingImageUrl = urlCell(video.fields['UGC关键图URL']);\nconst existingImageTaskId = textCell(video.fields['KIE图片任务ID']);\nawait updateRecord(token, VIDEO_TABLE, videoRecordId, { '视频状态': '生成关键图中', '错误信息': warnings.length ? ('上下文记录读取不完整，已使用视频任务字段继续生成：' + warnings.join('；')) : '' });\nconst confirmedScript = finalDialogue || (language === '英文' ? textCell(script.fields['完整脚本_en']) : textCell(script.fields['完整脚本_zh']));\nconst productBrief = { ...productBriefFromFields(product.fields), source_url: urlCell(product.fields['产品链接']) || urlCell(video.fields['产品链接']) };\nif (!productBrief.product_name) productBrief.product_name = 'the product shown in the reference image';\nif (!productBrief.core_selling_points) productBrief.core_selling_points = confirmedScript || 'UGC product recommendation based on the confirmed short dialogue';\nif (!productBrief.target_audience) productBrief.target_audience = textCell(video.fields['达人偏好']) || 'UGC audience';\nconst feishuBrief = {\n  video_task: { language, reference_url: referenceUrl, persona_preference: textCell(video.fields['达人偏好']), final_dialogue: finalDialogue },\n  script: { script_zh: textCell(script.fields['完整脚本_zh']), script_en: textCell(script.fields['完整脚本_en']), cta_zh: textCell(script.fields['CTA_zh']), cta_en: textCell(script.fields['CTA_en']) },\n  hook: { hook_concept: textCell(hook.fields['Hook概念']), visual_hook: textCell(hook.fields['视觉开场']), hook_category: firstSelect(hook.fields['Hook分类']) },\n  product: productBrief,\n  reference_policy: { selected_source: '产品图URL', task_reference_url: referenceUrl },\n  context_warnings: warnings,\n};\nreturn [{ json: { videoRecordId, productId, hookId, scriptId, referenceUrl, language, finalDialogue, confirmedScript, existingImageUrl, existingImageTaskId, feishuBrief } }];\n"
      },
      "id": "299eb4fd-076b-4e10-b605-5ef4b3915f66"
    },
    {
      "name": "DeepSeek UGC Row",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        520,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Convert this Feishu video brief into the UGC input row JSON:\\n{{ JSON.stringify($json.feishuBrief, null, 2) }}",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "# UGC Scene Assembly Prompt\n\nThis prompt prepares the structured UGC production brief used by AdFlow Studio after a script has been confirmed.\n\nIt does not generate images or videos. It converts Feishu product, Hook, script, and reference image data into a compact input object for downstream GPT Image 2 key-image generation and language-routed video prompt generation.\n\n---\n\n## System Prompt\n\nYou are a senior performance creative strategist and UGC ad producer.\n\nYour task is to convert an AdFlow Studio video task, confirmed script, Hook, and product record into a compact UGC production brief for downstream image and video generation.\n\nYou are not writing a full storyboard.\nYou are not generating image prompts.\nYou are not generating video prompts.\n\nYou are only preparing the production inputs for the next two prompt agents:\n1. GPT Image 2 UGC key image prompt agent\n2. Veo 3.1 UGC selfie video prompt agent\n\n---\n\n## Input\n\nYou will receive a JSON brief containing:\n- `video_task`\n- `script`\n- `hook`\n- `product`\n- `reference_policy`\n\nThe product and script data come from AdFlow Studio's Feishu workbench.\nIf `video_task.final_dialogue` is provided, it is a human-confirmed 8-second line and must be used exactly as `ShortDialogue`.\n\n---\n\n## Output Goal\n\nReturn a compact JSON object that contains the production fields required by the UGC generation pipeline:\n- `Product`\n- `ProductPhoto`\n- `ICP`\n- `ProductFeatures`\n- `VideoSetting`\n- `Model`\n- `Status`\n\nAlso return:\n- `ShortDialogue`\n- `MissingInput`\n- `Rationale`\n\n---\n\n## Field Construction Rules\n\n### Product\n\nUse:\n- product name\n- category\n- one short descriptor if useful\n\nKeep it short and readable.\n\n### ProductPhoto\n\nChoose the best available reference image in this priority:\n1. `video_task.reference_url`\n2. `product.product_reference_url`\n\nIf no usable image URL exists, return an empty string and add `\"product_photo\"` to `MissingInput`.\n\nDo not invent an image URL.\n\n### ICP\n\nBuild the ICP from:\n- `product.visceral_pain_points`\n- `product.emotional_triggers`\n- `product.buyer_objections`\n- `hook.awareness_level`\n- `hook.emotion_trigger`\n\nIt should describe the person who would naturally appear in a UGC ad.\n\nIf `video_task.persona_preference` is provided, respect it when it fits the product and script.\nIf it is empty, automatically infer the person from the ICP, product category, and script.\n\nThe generated video must use exactly one adult on-screen speaker. Do not create a two-person scene, group dialogue, interview format, or split-screen conversation.\n\n### ProductFeatures\n\nBuild from:\n- `product.unique_mechanism`\n- `product.core_transformation`\n- `product.visual_hook_elements`\n- `product.offer_and_guarantee`\n- relevant confirmed script claims\n\nDo not invent:\n- discounts\n- certifications\n- sales numbers\n- medical outcomes\n- expert endorsements\n- guarantees not present in product data\n\n### VideoSetting\n\nGenerate a dynamic UGC setting based on:\n- confirmed script\n- visual hook\n- product use case\n- ICP\n- product category\n\nThe setting should answer:\n- Who is on camera?\n- Where are they?\n- What are they holding or demonstrating?\n- What moment in daily life does this feel like?\n\nDo not use the same generic setting every time.\n\nHard rule:\n- The on-camera setup is always one adult creator speaking to camera.\n- If the hook category is `对话互动型` or the script contains A/B dialogue, convert it into a single-speaker UGC setup. The creator can say something like \"My friend asked me...\" or \"I used to think...\" but no second person should appear or speak.\n- Do not require a second actor, off-camera voice, customer, partner, child, or interviewer.\n\n### ShortDialogue\n\nCompress the confirmed script into 1-2 natural UGC spoken sentences for an 8-second video.\n\nRules:\n- If `video_task.final_dialogue` is non-empty, copy it exactly into `ShortDialogue`. Do not rewrite, translate, shorten, polish, or add words.\n- If `video_task.language` is Chinese, output Chinese dialogue.\n- If `video_task.language` is English, output English dialogue.\n- Chinese target length: up to 36 Chinese characters.\n- English target length: up to 145 characters including spaces, roughly 18-24 spoken words for 8 seconds.\n- Keep the original hook or core idea.\n- Mention one concrete product feature or benefit.\n- Do not add unsupported claims.\n- Use single-speaker first-person or direct-to-camera wording.\n- If the source script is a dialogue, rewrite it as one creator paraphrasing or quoting the interaction in one voice. Do not output speaker labels such as A:, B:, Person 1:, or Person 2:.\n\n### Model\n\nAlways output:\n`GPT Image 2 + Veo 3.1`\n\n### Status\n\nIf `ProductPhoto` is empty:\n`Need Product Photo`\n\nOtherwise:\n`Ready`\n\n---\n\n## Output Rules\n\nReturn only valid JSON.\n\nDo not output Markdown.\nDo not explain outside JSON.\n\nUse exactly these fields:\n\n```json\n{\n  \"Product\": \"\",\n  \"ProductPhoto\": \"\",\n  \"ICP\": \"\",\n  \"ProductFeatures\": \"\",\n  \"VideoSetting\": \"\",\n  \"ShortDialogue\": \"\",\n  \"Model\": \"GPT Image 2 + Veo 3.1\",\n  \"Status\": \"Ready\",\n  \"MissingInput\": [],\n  \"Rationale\": \"\"\n}\n```\n\n---\n\n## User Message Template\n\nConvert this Feishu video brief into the UGC input row JSON:\n\n{{FeishuBriefJson}}\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "27d705ff-012f-4b97-a976-da5c258a078f"
    },
    {
      "name": "DeepSeek UGC Row Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        520,
        220
      ],
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.45,
          "timeout": 180000,
          "maxTokens": 5000,
          "responseFormat": "json_object"
        }
      },
      "credentials": {
        "deepSeekApi": {
          "id": "hrqsFWPtR87WzqHs",
          "name": "DeepSeek"
        }
      },
      "id": "587615ee-9434-4828-9800-848ddf48ada3"
    },
    {
      "name": "DeepSeek Image Prompt",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        780,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Product: {{ $json.Product }}\\nProduct reference image URL: {{ $(\"Prepare UGC input\").first().json.referenceUrl }}\\nIdeal customer profile: {{ $json.ICP }}\\nProduct features: {{ $json.ProductFeatures }}\\nConfirmed ad script: {{ $(\"Prepare UGC input\").first().json.confirmedScript }}\\nDynamic video setting: {{ $json.VideoSetting }}\\nWrite one GPT Image 2 image-to-image prompt for a realistic UGC key image. The product must match the reference image exactly. Return plain text only.",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "# UGC Key Image Prompt\n\nThis prompt generates the written image prompt used by AdFlow Studio for GPT Image 2 image-to-image key-image generation.\n\nIt turns the confirmed UGC production brief into a realistic creator-style product image prompt while preserving product identity, adult-only casting, and scene consistency.\n\n---\n\n## System Prompt\n\nYou are an expert in hyper-realistic user-generated content (UGC) photography, adapted for GPT Image 2 image-to-image generation.\n\nYour role is to generate a detailed written image prompt, not the image itself.\n\nYour task is to write a descriptive image prompt that GPT Image 2 can use to create a highly authentic selfie-style UGC image featuring a real adult influencer naturally holding or demonstrating the exact product from the provided reference image.\n\nYou will be provided with:\n- A product reference image URL\n- Product name and category\n- Ideal customer profile\n- Product features and core selling point\n- Confirmed ad script\n- A dynamic video setting generated from the script\n\nYour job is to generate a written prompt that instructs the image model to create one realistic UGC key image where a real adult person naturally holds, presents, or demonstrates the exact provided product.\n\nThe phone, camera, selfie stick, or mirror reflection must not appear in the image itself.\n\n---\n\n## Prompt Guidelines\n\n### 1. Human Realism\n\nDescribe a realistic adult human with:\n- Lifelike skin texture and tone\n- Slight asymmetries and natural facial features\n- Casual, believable styling\n- Visible hand details such as fingernails, subtle lines, and a genuine grip\n- Natural posture and unpolished UGC energy\n\nThe person should match the ICP and the setting, but should not look like a studio model or polished commercial actor.\n\n### 2. Product Accuracy\n\nThe product must stay visually faithful to the uploaded reference image.\n\nExplicitly state that the product must:\n- Keep the same color\n- Keep the same shape and silhouette\n- Keep the same packaging or garment structure when visible\n- Keep the same logo, label, print, material, zipper, seams, bottle shape, cap, or other identifying details\n- Not be redesigned, beautified, replaced, or enhanced beyond the source product\n\nThe product should be clearly visible and prominent in the foreground.\n\n### 3. Composition And Perspective\n\nSpecify a selfie-style UGC composition:\n- Vertical 9:16 frame\n- Adult person close to camera\n- Product held prominently in the foreground, slightly angled toward the viewer\n- Face visible when safe and appropriate\n- Natural eye contact or candid glance\n- Product and hand interaction clearly visible\n- No phone visible in frame\n\n### 4. Dynamic Scene\n\nThe scene must be derived from the provided `Video Setting`, confirmed script, ICP, and product use case.\n\nDo not reuse one generic kitchen/bathroom setting for every product.\n\nExamples of scene adaptation:\n- Beauty product: bathroom, vanity, bedroom mirror area\n- Fitness product: gym entrance, parked car before workout, desk after workout\n- Baby or parenting product: adult parent in nursery, bedroom, laundry area, changing station, or product table setup\n- Home product: kitchen, living room, cleaning area, closet, desk setup\n- Travel product: suitcase packing area, hotel room, car trunk, airport-adjacent home setup\n\n### 5. Lighting And Texture\n\nUse natural, high-quality lighting:\n- Soft daylight\n- Warm morning or evening light\n- Realistic indoor practical lights\n- Shallow depth of field when useful\n- Clear focus on both product and human interaction\n\nAdd subtle imperfections:\n- Stray hair\n- Casual clothing\n- Natural hand position\n- Small background details\n- Slightly candid, spontaneous composition\n\nAvoid overly polished studio advertising unless the product category explicitly requires it.\n\n### 6. Output Rules\n\nOutput only the final image generation prompt in English.\n\nDo not output:\n- Markdown\n- JSON\n- Explanations\n- Bullet points\n- Separate negative prompt\n- Any image URL\n\nThe final prompt must be directly usable as the `prompt` value for `gpt-image-2-image-to-image`.\n\n---\n\n## User Message Template\n\nProduct:\n{{Product}}\n\nProduct reference image URL:\n{{ProductPhoto}}\n\nIdeal customer profile:\n{{ICP}}\n\nProduct features:\n{{ProductFeatures}}\n\nConfirmed ad script:\n{{ConfirmedScript}}\n\nDynamic video setting:\n{{VideoSetting}}\n\nWrite one GPT Image 2 image-to-image prompt for a realistic UGC key image. The product must match the reference image exactly. The scene should follow the dynamic video setting and should support the confirmed script.\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "3314768d-05ad-45d3-bee9-6b1e73ad829e"
    },
    {
      "name": "DeepSeek Image Prompt Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        780,
        220
      ],
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.45,
          "timeout": 180000,
          "maxTokens": 5000
        }
      },
      "credentials": {
        "deepSeekApi": {
          "id": "hrqsFWPtR87WzqHs",
          "name": "DeepSeek"
        }
      },
      "id": "e55c9cd7-46c1-4713-bd1c-8225d2008c16"
    },
    {
      "name": "Start image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1040,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst prep = $('Prepare UGC input').first().json;\nconst ugcRow = $('DeepSeek UGC Row').first().json;\nif (prep.finalDialogue) ugcRow.ShortDialogue = prep.finalDialogue;\nif (ugcRow.Status && ugcRow.Status !== 'Ready') throw new Error('UGC 场景输入未就绪: ' + JSON.stringify(ugcRow));\nconst imagePrompt = chainText($input.first().json);\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nif (!kieKey) throw new Error('KIE_API_KEY 未配置。');\nconst token = await feishuToken();\nif (prep.existingImageUrl) {\n  await updateRecord(token, VIDEO_TABLE, prep.videoRecordId, { '视频状态': '生成视频中', 'UGC场景JSON': JSON.stringify(ugcRow, null, 2), 'UGC图片Prompt': imagePrompt, 'Veo口播脚本': ugcRow.ShortDialogue || prep.finalDialogue || '' });\n  return [{ json: { ...prep, ugcRow, imagePrompt, imageTaskId: prep.existingImageTaskId || 'reused-existing-image', imagePollCount: 0, imageReady: true, ugcImageUrl: prep.existingImageUrl, imageDescription: 'Reused existing UGC key image: ' + prep.existingImageUrl } }];\n}\nconst imgTask = await requestJson({\n  method: 'POST',\n  url: 'https://api.kie.ai/api/v1/jobs/createTask',\n  headers: { Authorization: 'Bearer ' + kieKey, 'Content-Type': 'application/json' },\n  body: { model: 'gpt-image-2-image-to-image', input: { prompt: imagePrompt, input_urls: [prep.referenceUrl], aspect_ratio: '9:16' } },\n}, 'KIE GPT Image 2 create');\nconst imageTaskId = imgTask?.data?.taskId;\nif (!imageTaskId) throw new Error('KIE 图片任务缺少 taskId: ' + JSON.stringify(imgTask).slice(0, 800));\nawait updateRecord(token, VIDEO_TABLE, prep.videoRecordId, { 'UGC场景JSON': JSON.stringify(ugcRow, null, 2), 'UGC图片Prompt': imagePrompt, 'Veo口播脚本': ugcRow.ShortDialogue || '', 'KIE图片任务ID': imageTaskId });\nreturn [{ json: { ...prep, ugcRow, imagePrompt, imageTaskId, imagePollCount: 0 } }];\n"
      },
      "id": "17b92ab2-a331-40d1-bd9a-e16ea93c0a02"
    },
    {
      "name": "Wait image",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1280,
        160
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "id": "64031a28-3cdc-4c24-ad35-be487e6da39c",
      "webhookId": "bcdb5a7a-c1e7-4303-a80d-d84a246b604c"
    },
    {
      "name": "Poll image",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1520,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst item = $input.first().json;\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nconst token = await feishuToken();\nconst pollCount = Number(item.imagePollCount || 0) + 1;\nif (item.imageReady && item.ugcImageUrl) return [{ json: { ...item, imagePollCount: pollCount } }];\nconst res = await requestJson({ method: 'GET', url: 'https://api.kie.ai/api/v1/jobs/recordInfo?taskId=' + encodeURIComponent(item.imageTaskId), headers: { Authorization: 'Bearer ' + kieKey } }, 'KIE image poll');\nconst data = res?.data || {};\nif (data.state === 'fail') {\n  const msg = 'GPT Image 2 失败: ' + item.imageTaskId + ' / ' + (data.failMsg || 'unknown');\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nif (data.state === 'success') {\n  const urls = parseResultUrls(data.resultJson);\n  if (!urls.length) throw new Error('GPT Image 2 成功但无 URL');\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '生成视频中', 'UGC关键图URL': urlValue(urls[0]), 'UGC关键图分析': ('Generated from prompt: ' + item.imagePrompt).slice(0, 4000) });\n  return [{ json: { ...item, imageReady: true, imagePollCount: pollCount, ugcImageUrl: urls[0], imageDescription: 'Generated from prompt: ' + item.imagePrompt } }];\n}\nif (pollCount >= 40) {\n  const msg = 'GPT Image 2 超时: ' + item.imageTaskId;\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nreturn [{ json: { ...item, imageReady: false, imagePollCount: pollCount } }];\n"
      },
      "id": "9971efa8-6f58-4659-a028-e2d7261ecea3"
    },
    {
      "name": "Image ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        1760,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "imageReady-true",
              "leftValue": "={{ $json.imageReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "3ffc6c90-28f7-4fc9-8233-51ce2371cc8f"
    },
    {
      "name": "DeepSeek Video Prompt",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        2000,
        0
      ],
      "parameters": {
        "promptType": "define",
        "text": "=Target video model: {{ $json.language === \"英文\" ? \"veo3_fast\" : \"bytedance/seedance-2-fast\" }}\\nOutput language: {{ $json.language }}\\nProduct: {{ $json.ugcRow.Product }}\\nIdeal customer profile: {{ $json.ugcRow.ICP }}\\nProduct features: {{ $json.ugcRow.ProductFeatures }}\\nDynamic video setting: {{ $json.ugcRow.VideoSetting }}\\nReference UGC key image description: {{ $json.imageDescription }}\\nShort dialogue: {{ $json.ugcRow.ShortDialogue }}\\n{{ $json.language === \"英文\" ? \"Generate one Veo 3.1 Fast prompt for an 8-second vertical UGC selfie-style product video with natural spoken English audio.\" : \"生成一条适合 Seedance 2.0 Fast 的 8 秒竖版 UGC 自拍口播视频 prompt，要求自然中文口播、口型同步、无字幕贴纸、无背景音乐。\" }}\\nReturn plain text only.",
        "messages": {
          "messageValues": [
            {
              "type": "SystemMessagePromptTemplate",
              "message": "# UGC Video Prompt - Language Routing\n\nThis prompt generates the final video-generation prompt used by AdFlow Studio.\n\nIt keeps the output model-aware:\n- English videos use KIE Veo 3.1 Fast and require natural English spoken UGC audio.\n- Chinese videos use KIE Seedance 2.0 Fast and require natural Chinese口播 with audio-lip synchronization.\n\n---\n\n## System Prompt\n\nYou are an advanced UGC video prompt engineer for AI video models.\n\nYour task is to generate one production-ready video prompt based on:\n- The target video model\n- The output language\n- The product\n- The ideal customer profile\n- Product features\n- The dynamic video setting\n- The confirmed 8-second dialogue\n- A reference UGC key image generated from the product reference photo\n- A reference image description\n\nYour goal is to create a realistic, spontaneous selfie-style vertical video filmed by an adult influencer using one hand to hold the phone off-camera and the other hand to hold or use the product.\n\nThe result should feel natural, unfiltered, and human, while ensuring strong visual and style consistency with the provided reference image.\n\nThe phone or camera must never appear in the shot.\nThe video must have exactly one adult on-screen speaker.\n\n---\n\n## Video Requirements\n\n### Subject And Framing\n\n- The subject should clearly represent the ICP persona, including age range, attire, lifestyle context, and overall vibe.\n- The subject must be an adult.\n- Use exactly one on-screen adult creator. No second actor, interviewer, customer, partner, child, crowd conversation, split-screen, or off-camera voice.\n- The video is recorded selfie-style, handheld at arm's length, in vertical 9:16 format.\n- The subject faces the camera directly while naturally interacting with the product.\n- The product remains clearly visible and recognizable.\n- The video should capture subtle camera shake, micro-movements, and natural imperfections that make it feel handheld and authentic.\n\n### Product Consistency\n\nThe product must match the reference UGC key image and original product reference.\n\nThe prompt must explicitly preserve:\n- Product color\n- Shape and silhouette\n- Packaging, garment structure, bottle shape, bottle cap, earbuds case, logo, label, print, material, zipper, seams, or other identifying details\n- Relative size in the person's hand\n\nDo not let the video model redesign, replace, simplify, relabel, recolor, or invent a different product.\n\n### Visual Style\n\n- Use natural lighting and realistic environments aligned with the dynamic video setting.\n- Include soft grain, slight exposure variation, and casual UGC realism.\n- The product, subject's face, hands, and interaction must remain visible.\n- No overlays, subtitles, watermarks, text stickers, fake logos, visible phones, mirrors, or camera reflections.\n- The appearance, colors, and setting should closely match the reference UGC key image.\n\n### Tone And Dialogue\n\n- The subject delivers the provided `ShortDialogue` exactly or with only tiny natural spoken contractions.\n- Delivery should feel spontaneous and relatable, not like a polished TV ad.\n- The speaker may smile, glance briefly at the product, then return eye contact to the camera.\n- Keep the dialogue fitted within 8 seconds.\n- If the source idea is dialogue-interactive, render it as one creator retelling or quoting the interaction in a single voice. Do not create a two-person conversation.\n\n### Model Routing\n\nIf `Target video model` is `veo3_fast`:\n- Write the final prompt in English.\n- Use clear spoken English dialogue.\n- Mention natural spoken UGC dialogue, ambient room sound, and no music.\n\nIf `Target video model` is `bytedance/seedance-2-fast`:\n- Write the final prompt in Chinese.\n- Use natural Chinese short-video口播语气.\n- 明确要求真人自然中文口播、口型与声音同步、无背景音乐、无字幕贴纸。\n- 不要把英文 TikTok 口吻硬翻成中文。\n\n---\n\n## Prompt Construction Instructions\n\nInclude:\n- A clear adult ICP persona\n- The dynamic real-life environment\n- The product interaction\n- The exact short spoken dialogue\n- Camera style: handheld selfie, mild shake, natural imperfections\n- Reference image consistency\n- Product accuracy constraints\n- Audio requirement based on the target model and language\n\nThe final prompt should be one clean paragraph or two short paragraphs, directly usable as the `prompt` value for the video generation API.\n\n---\n\n## Output Rules\n\nOutput only the final video generation prompt.\n\nDo not output:\n- Markdown\n- JSON\n- Explanations\n- Bullet points\n- Separate negative prompt\n- Any image URL\n"
            }
          ]
        },
        "batching": {}
      },
      "id": "035d16ca-3aa2-4b0e-8025-7c4c0032e4a5"
    },
    {
      "name": "DeepSeek Video Prompt Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        2000,
        220
      ],
      "parameters": {
        "model": "deepseek-chat",
        "options": {
          "temperature": 0.45,
          "timeout": 180000,
          "maxTokens": 5000
        }
      },
      "credentials": {
        "deepSeekApi": {
          "id": "hrqsFWPtR87WzqHs",
          "name": "DeepSeek"
        }
      },
      "id": "80995e62-b0ef-4fbc-8a64-95632875f7db"
    },
    {
      "name": "Start Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2240,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst item = $('Image ready?').first().json;\nconst videoPrompt = chainText($input.first().json);\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nif (!kieKey) throw new Error('KIE_API_KEY 未配置。');\nconst token = await feishuToken();\nconst cleanPrompt = videoPrompt.replace(/\\r?\\n|\\r/g, ' ').replace(/[\"“”]/g, '');\nconst useVeo = item.language === '英文';\nconst videoModel = useVeo ? 'veo3_fast' : 'bytedance/seedance-2-fast';\nconst res = useVeo\n  ? await requestJson({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/veo/generate',\n      headers: { Authorization: 'Bearer ' + kieKey, 'Content-Type': 'application/json' },\n      body: { prompt: cleanPrompt, imageUrls: [item.ugcImageUrl], model: 'veo3_fast', aspect_ratio: '9:16', aspectRatio: '9:16', enableTranslation: true },\n    }, 'KIE Veo create')\n  : await requestJson({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/jobs/createTask',\n      headers: { Authorization: 'Bearer ' + kieKey, 'Content-Type': 'application/json' },\n      body: {\n        model: 'bytedance/seedance-2-fast',\n        input: {\n          prompt: cleanPrompt,\n          first_frame_url: item.ugcImageUrl,\n          resolution: '480p',\n          aspect_ratio: '9:16',\n          duration: 8,\n          generate_audio: true,\n          web_search: false,\n        },\n      },\n    }, 'KIE Seedance create');\nconst videoTaskId = res?.data?.taskId || res?.data?.task_id || res?.taskId;\nif (!videoTaskId) {\n  const msg = 'KIE 视频任务缺少 taskId: ' + JSON.stringify(res).slice(0, 1000);\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nawait updateRecord(token, VIDEO_TABLE, item.videoRecordId, { 'Veo视频Prompt': videoPrompt, 'KIE视频任务ID': videoTaskId, '生成配置': JSON.stringify({ video_model: videoModel, language: item.language, generate_audio: true, started_at: new Date().toISOString() }, null, 2) });\nreturn [{ json: { ...item, videoPrompt, videoTaskId, videoModel, videoProvider: useVeo ? 'veo' : 'seedance', videoPollCount: 0 } }];\n"
      },
      "id": "e5513075-d1ca-4a1d-9a9d-d4928660bddb"
    },
    {
      "name": "Wait Video",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2480,
        160
      ],
      "parameters": {
        "resume": "timeInterval",
        "amount": 30,
        "unit": "seconds"
      },
      "id": "44c93ea6-37b6-4717-966d-fdd40f944c33",
      "webhookId": "fbde72a1-aad9-4027-94d8-9ac5c3713411"
    },
    {
      "name": "Poll Video",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2720,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst item = $input.first().json;\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nconst token = await feishuToken();\nconst pollCount = Number(item.videoPollCount || 0) + 1;\nconst res = item.videoProvider === 'seedance'\n  ? await requestJson({ method: 'GET', url: 'https://api.kie.ai/api/v1/jobs/recordInfo?taskId=' + encodeURIComponent(item.videoTaskId), headers: { Authorization: 'Bearer ' + kieKey } }, 'KIE Seedance poll')\n  : await requestJson({ method: 'GET', url: 'https://api.kie.ai/api/v1/veo/record-info', headers: { Authorization: 'Bearer ' + kieKey }, qs: { taskId: item.videoTaskId } }, 'KIE Veo poll');\nconst data = res?.data || {};\nif (data.state === 'fail' || data.errorMessage || data.failMsg) {\n  const msg = '视频生成失败: ' + item.videoTaskId + ' / ' + (data.errorMessage || data.failMsg || 'unknown');\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nconst urls = data?.response?.resultUrls || parseResultUrls(data.resultJson);\nif ((data.state === 'success' || item.videoProvider === 'veo') && Array.isArray(urls) && urls.length) {\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, {\n    '视频状态': '视频已生成',\n    '视频URL': urlValue(String(urls[0])),\n    '生成配置': JSON.stringify({ llm_model: 'deepseek-chat', image_model: 'gpt-image-2-image-to-image', video_model: item.videoModel || 'veo3_fast', language: item.language, generate_audio: true, image_task_id: item.imageTaskId, video_task_id: item.videoTaskId, completed_at: new Date().toISOString() }, null, 2),\n    '错误信息': '',\n  });\n  return [{ json: { ...item, videoReady: true, videoUrl: String(urls[0]) } }];\n}\nif (pollCount >= 60) {\n  const msg = 'Veo 超时: ' + item.videoTaskId;\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nreturn [{ json: { ...item, videoReady: false, videoPollCount: pollCount } }];\n"
      },
      "id": "ba6de8ba-fb15-41bf-8130-9dcc01fe2069"
    },
    {
      "name": "Video ready?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        2960,
        0
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "videoReady-true",
              "leftValue": "={{ $json.videoReady }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "67188653-3bab-48bb-8362-2a2dea691bd1"
    },
    {
      "name": "Final response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3200,
        0
      ],
      "parameters": {
        "language": "javaScript",
        "jsCode": "const item = $input.first().json; return [{ json: { message: 'Video generated', videoRecordId: item.videoRecordId, videoUrl: item.videoUrl } }];"
      },
      "id": "8b38d7d0-1e41-41d2-a8bb-066654b3fa78"
    }
  ],
  "connections": {
    "Webhook: Generate Video": {
      "main": [
        [
          {
            "node": "Prepare UGC input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare UGC input": {
      "main": [
        [
          {
            "node": "DeepSeek UGC Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek UGC Row": {
      "main": [
        [
          {
            "node": "DeepSeek Image Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek UGC Row Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek UGC Row",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Image Prompt": {
      "main": [
        [
          {
            "node": "Start image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Image Prompt Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek Image Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start image": {
      "main": [
        [
          {
            "node": "Wait image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait image": {
      "main": [
        [
          {
            "node": "Poll image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll image": {
      "main": [
        [
          {
            "node": "Image ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Image ready?": {
      "main": [
        [
          {
            "node": "DeepSeek Video Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Video Prompt": {
      "main": [
        [
          {
            "node": "Start Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Video Prompt Model": {
      "ai_languageModel": [
        [
          {
            "node": "DeepSeek Video Prompt",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Start Video": {
      "main": [
        [
          {
            "node": "Wait Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait Video": {
      "main": [
        [
          {
            "node": "Poll Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Poll Video": {
      "main": [
        [
          {
            "node": "Video ready?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Video ready?": {
      "main": [
        [
          {
            "node": "Final response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "activeVersionId": "2cf8d376-694e-4337-a5b0-953a337dd52b",
  "versionCounter": 66,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-05-20T04:02:16.134Z",
      "createdAt": "2026-05-20T04:02:16.134Z",
      "role": "workflow:owner",
      "workflowId": "yMmlKAPxLYMAt0Bq",
      "projectId": "jHhLQ3oygEhG0Lcr",
      "project": {
        "updatedAt": "2026-05-12T15:46:04.393Z",
        "createdAt": "2026-05-12T11:35:09.539Z",
        "id": "jHhLQ3oygEhG0Lcr",
        "name": "Yueying Wu <shellyying950526@gmail.com>",
        "type": "personal",
        "icon": null,
        "description": null,
        "creatorId": "5aa488b4-77bf-43f0-82bd-3daccdaa2b29"
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-05-22T08:26:08.351Z",
    "createdAt": "2026-05-22T08:26:08.351Z",
    "versionId": "2cf8d376-694e-4337-a5b0-953a337dd52b",
    "workflowId": "yMmlKAPxLYMAt0Bq",
    "nodes": [
      {
        "name": "Webhook: Generate Video",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "position": [
          0,
          0
        ],
        "parameters": {
          "path": "final-generate-video",
          "httpMethod": "GET",
          "responseMode": "onReceived",
          "responseData": "firstEntryJson",
          "options": {
            "responseCode": 200,
            "responseData": "视频生成任务已开始，请回到前端等待自动刷新。"
          }
        },
        "id": "d7dd54eb-03eb-4c7d-be1d-0079061a5fb7",
        "webhookId": "c6b90fef-e1b3-42a5-843a-e1fc27f73ba5"
      },
      {
        "name": "Prepare UGC input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          260,
          0
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst query = $input.first().json.query || {};\nconst videoRecordId = String(query.video_record_id || '').trim();\nif (!videoRecordId) throw new Error('缺少 video_record_id');\nconst token = await feishuToken();\nconst queryReferenceUrl = String(query.reference_url || '').trim();\nconst queryLanguage = String(query.language || '').trim();\nconst queryPersona = String(query.persona || '').trim();\nconst queryFinalDialogue = String(query.final_dialogue || '').trim();\nconst queryExistingImageUrl = String(query.existing_image_url || '').trim();\nconst queryMode = Boolean(queryReferenceUrl || queryLanguage || queryPersona || queryFinalDialogue || queryExistingImageUrl);\nconst video = queryMode\n  ? { fields: { '产品图URL': urlValue(queryReferenceUrl), '语言': queryLanguage, '达人偏好': queryPersona, 'Veo口播脚本': queryFinalDialogue, 'UGC关键图URL': urlValue(queryExistingImageUrl) } }\n  : await getRecord(token, VIDEO_TABLE, videoRecordId);\nif (!video) throw new Error('找不到视频任务');\nconst productId = linkIds(video.fields['关联产品'])[0];\nconst hookId = linkIds(video.fields['关联Hook'])[0];\nconst scriptId = linkIds(video.fields['关联脚本'])[0];\nconst productResult = queryMode ? { record: null, warning: '' } : await optionalRecord(token, PRODUCT_TABLE, productId, '产品');\nconst hookResult = queryMode ? { record: null, warning: '' } : await optionalRecord(token, HOOK_TABLE, hookId, 'Hook');\nconst scriptResult = queryMode ? { record: null, warning: '' } : await optionalRecord(token, SCRIPT_TABLE, scriptId, '脚本');\nconst product = productResult.record || { fields: {} };\nconst hook = hookResult.record || { fields: {} };\nconst script = scriptResult.record || { fields: {} };\nconst warnings = [productResult.warning, hookResult.warning, scriptResult.warning].filter(Boolean);\nconst referenceUrl = urlCell(video.fields['产品图URL']) || urlCell(product.fields['产品主图URL']);\nif (!referenceUrl) throw new Error('缺少产品图 URL。请在视频任务里填写产品图URL，或确保产品主图URL存在。');\nconst language = firstSelect(video.fields['语言']) || '中文';\nconst finalDialogue = textCell(video.fields['Veo口播脚本']);\nconst existingImageUrl = urlCell(video.fields['UGC关键图URL']);\nconst existingImageTaskId = textCell(video.fields['KIE图片任务ID']);\nawait updateRecord(token, VIDEO_TABLE, videoRecordId, { '视频状态': '生成关键图中', '错误信息': warnings.length ? ('上下文记录读取不完整，已使用视频任务字段继续生成：' + warnings.join('；')) : '' });\nconst confirmedScript = finalDialogue || (language === '英文' ? textCell(script.fields['完整脚本_en']) : textCell(script.fields['完整脚本_zh']));\nconst productBrief = { ...productBriefFromFields(product.fields), source_url: urlCell(product.fields['产品链接']) || urlCell(video.fields['产品链接']) };\nif (!productBrief.product_name) productBrief.product_name = 'the product shown in the reference image';\nif (!productBrief.core_selling_points) productBrief.core_selling_points = confirmedScript || 'UGC product recommendation based on the confirmed short dialogue';\nif (!productBrief.target_audience) productBrief.target_audience = textCell(video.fields['达人偏好']) || 'UGC audience';\nconst feishuBrief = {\n  video_task: { language, reference_url: referenceUrl, persona_preference: textCell(video.fields['达人偏好']), final_dialogue: finalDialogue },\n  script: { script_zh: textCell(script.fields['完整脚本_zh']), script_en: textCell(script.fields['完整脚本_en']), cta_zh: textCell(script.fields['CTA_zh']), cta_en: textCell(script.fields['CTA_en']) },\n  hook: { hook_concept: textCell(hook.fields['Hook概念']), visual_hook: textCell(hook.fields['视觉开场']), hook_category: firstSelect(hook.fields['Hook分类']) },\n  product: productBrief,\n  reference_policy: { selected_source: '产品图URL', task_reference_url: referenceUrl },\n  context_warnings: warnings,\n};\nreturn [{ json: { videoRecordId, productId, hookId, scriptId, referenceUrl, language, finalDialogue, confirmedScript, existingImageUrl, existingImageTaskId, feishuBrief } }];\n"
        },
        "id": "299eb4fd-076b-4e10-b605-5ef4b3915f66"
      },
      {
        "name": "DeepSeek UGC Row",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          520,
          0
        ],
        "parameters": {
          "promptType": "define",
          "text": "=Convert this Feishu video brief into the UGC input row JSON:\\n{{ JSON.stringify($json.feishuBrief, null, 2) }}",
          "messages": {
            "messageValues": [
              {
                "type": "SystemMessagePromptTemplate",
                "message": "# UGC Scene Assembly Prompt\n\nThis prompt prepares the structured UGC production brief used by AdFlow Studio after a script has been confirmed.\n\nIt does not generate images or videos. It converts Feishu product, Hook, script, and reference image data into a compact input object for downstream GPT Image 2 key-image generation and language-routed video prompt generation.\n\n---\n\n## System Prompt\n\nYou are a senior performance creative strategist and UGC ad producer.\n\nYour task is to convert an AdFlow Studio video task, confirmed script, Hook, and product record into a compact UGC production brief for downstream image and video generation.\n\nYou are not writing a full storyboard.\nYou are not generating image prompts.\nYou are not generating video prompts.\n\nYou are only preparing the production inputs for the next two prompt agents:\n1. GPT Image 2 UGC key image prompt agent\n2. Veo 3.1 UGC selfie video prompt agent\n\n---\n\n## Input\n\nYou will receive a JSON brief containing:\n- `video_task`\n- `script`\n- `hook`\n- `product`\n- `reference_policy`\n\nThe product and script data come from AdFlow Studio's Feishu workbench.\nIf `video_task.final_dialogue` is provided, it is a human-confirmed 8-second line and must be used exactly as `ShortDialogue`.\n\n---\n\n## Output Goal\n\nReturn a compact JSON object that contains the production fields required by the UGC generation pipeline:\n- `Product`\n- `ProductPhoto`\n- `ICP`\n- `ProductFeatures`\n- `VideoSetting`\n- `Model`\n- `Status`\n\nAlso return:\n- `ShortDialogue`\n- `MissingInput`\n- `Rationale`\n\n---\n\n## Field Construction Rules\n\n### Product\n\nUse:\n- product name\n- category\n- one short descriptor if useful\n\nKeep it short and readable.\n\n### ProductPhoto\n\nChoose the best available reference image in this priority:\n1. `video_task.reference_url`\n2. `product.product_reference_url`\n\nIf no usable image URL exists, return an empty string and add `\"product_photo\"` to `MissingInput`.\n\nDo not invent an image URL.\n\n### ICP\n\nBuild the ICP from:\n- `product.visceral_pain_points`\n- `product.emotional_triggers`\n- `product.buyer_objections`\n- `hook.awareness_level`\n- `hook.emotion_trigger`\n\nIt should describe the person who would naturally appear in a UGC ad.\n\nIf `video_task.persona_preference` is provided, respect it when it fits the product and script.\nIf it is empty, automatically infer the person from the ICP, product category, and script.\n\nThe generated video must use exactly one adult on-screen speaker. Do not create a two-person scene, group dialogue, interview format, or split-screen conversation.\n\n### ProductFeatures\n\nBuild from:\n- `product.unique_mechanism`\n- `product.core_transformation`\n- `product.visual_hook_elements`\n- `product.offer_and_guarantee`\n- relevant confirmed script claims\n\nDo not invent:\n- discounts\n- certifications\n- sales numbers\n- medical outcomes\n- expert endorsements\n- guarantees not present in product data\n\n### VideoSetting\n\nGenerate a dynamic UGC setting based on:\n- confirmed script\n- visual hook\n- product use case\n- ICP\n- product category\n\nThe setting should answer:\n- Who is on camera?\n- Where are they?\n- What are they holding or demonstrating?\n- What moment in daily life does this feel like?\n\nDo not use the same generic setting every time.\n\nHard rule:\n- The on-camera setup is always one adult creator speaking to camera.\n- If the hook category is `对话互动型` or the script contains A/B dialogue, convert it into a single-speaker UGC setup. The creator can say something like \"My friend asked me...\" or \"I used to think...\" but no second person should appear or speak.\n- Do not require a second actor, off-camera voice, customer, partner, child, or interviewer.\n\n### ShortDialogue\n\nCompress the confirmed script into 1-2 natural UGC spoken sentences for an 8-second video.\n\nRules:\n- If `video_task.final_dialogue` is non-empty, copy it exactly into `ShortDialogue`. Do not rewrite, translate, shorten, polish, or add words.\n- If `video_task.language` is Chinese, output Chinese dialogue.\n- If `video_task.language` is English, output English dialogue.\n- Chinese target length: up to 36 Chinese characters.\n- English target length: up to 145 characters including spaces, roughly 18-24 spoken words for 8 seconds.\n- Keep the original hook or core idea.\n- Mention one concrete product feature or benefit.\n- Do not add unsupported claims.\n- Use single-speaker first-person or direct-to-camera wording.\n- If the source script is a dialogue, rewrite it as one creator paraphrasing or quoting the interaction in one voice. Do not output speaker labels such as A:, B:, Person 1:, or Person 2:.\n\n### Model\n\nAlways output:\n`GPT Image 2 + Veo 3.1`\n\n### Status\n\nIf `ProductPhoto` is empty:\n`Need Product Photo`\n\nOtherwise:\n`Ready`\n\n---\n\n## Output Rules\n\nReturn only valid JSON.\n\nDo not output Markdown.\nDo not explain outside JSON.\n\nUse exactly these fields:\n\n```json\n{\n  \"Product\": \"\",\n  \"ProductPhoto\": \"\",\n  \"ICP\": \"\",\n  \"ProductFeatures\": \"\",\n  \"VideoSetting\": \"\",\n  \"ShortDialogue\": \"\",\n  \"Model\": \"GPT Image 2 + Veo 3.1\",\n  \"Status\": \"Ready\",\n  \"MissingInput\": [],\n  \"Rationale\": \"\"\n}\n```\n\n---\n\n## User Message Template\n\nConvert this Feishu video brief into the UGC input row JSON:\n\n{{FeishuBriefJson}}\n"
              }
            ]
          },
          "batching": {}
        },
        "id": "27d705ff-012f-4b97-a976-da5c258a078f"
      },
      {
        "name": "DeepSeek UGC Row Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          520,
          220
        ],
        "parameters": {
          "model": "deepseek-chat",
          "options": {
            "temperature": 0.45,
            "timeout": 180000,
            "maxTokens": 5000,
            "responseFormat": "json_object"
          }
        },
        "credentials": {
          "deepSeekApi": {
            "id": "hrqsFWPtR87WzqHs",
            "name": "DeepSeek"
          }
        },
        "id": "587615ee-9434-4828-9800-848ddf48ada3"
      },
      {
        "name": "DeepSeek Image Prompt",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          780,
          0
        ],
        "parameters": {
          "promptType": "define",
          "text": "=Product: {{ $json.Product }}\\nProduct reference image URL: {{ $(\"Prepare UGC input\").first().json.referenceUrl }}\\nIdeal customer profile: {{ $json.ICP }}\\nProduct features: {{ $json.ProductFeatures }}\\nConfirmed ad script: {{ $(\"Prepare UGC input\").first().json.confirmedScript }}\\nDynamic video setting: {{ $json.VideoSetting }}\\nWrite one GPT Image 2 image-to-image prompt for a realistic UGC key image. The product must match the reference image exactly. Return plain text only.",
          "messages": {
            "messageValues": [
              {
                "type": "SystemMessagePromptTemplate",
                "message": "# UGC Key Image Prompt\n\nThis prompt generates the written image prompt used by AdFlow Studio for GPT Image 2 image-to-image key-image generation.\n\nIt turns the confirmed UGC production brief into a realistic creator-style product image prompt while preserving product identity, adult-only casting, and scene consistency.\n\n---\n\n## System Prompt\n\nYou are an expert in hyper-realistic user-generated content (UGC) photography, adapted for GPT Image 2 image-to-image generation.\n\nYour role is to generate a detailed written image prompt, not the image itself.\n\nYour task is to write a descriptive image prompt that GPT Image 2 can use to create a highly authentic selfie-style UGC image featuring a real adult influencer naturally holding or demonstrating the exact product from the provided reference image.\n\nYou will be provided with:\n- A product reference image URL\n- Product name and category\n- Ideal customer profile\n- Product features and core selling point\n- Confirmed ad script\n- A dynamic video setting generated from the script\n\nYour job is to generate a written prompt that instructs the image model to create one realistic UGC key image where a real adult person naturally holds, presents, or demonstrates the exact provided product.\n\nThe phone, camera, selfie stick, or mirror reflection must not appear in the image itself.\n\n---\n\n## Prompt Guidelines\n\n### 1. Human Realism\n\nDescribe a realistic adult human with:\n- Lifelike skin texture and tone\n- Slight asymmetries and natural facial features\n- Casual, believable styling\n- Visible hand details such as fingernails, subtle lines, and a genuine grip\n- Natural posture and unpolished UGC energy\n\nThe person should match the ICP and the setting, but should not look like a studio model or polished commercial actor.\n\n### 2. Product Accuracy\n\nThe product must stay visually faithful to the uploaded reference image.\n\nExplicitly state that the product must:\n- Keep the same color\n- Keep the same shape and silhouette\n- Keep the same packaging or garment structure when visible\n- Keep the same logo, label, print, material, zipper, seams, bottle shape, cap, or other identifying details\n- Not be redesigned, beautified, replaced, or enhanced beyond the source product\n\nThe product should be clearly visible and prominent in the foreground.\n\n### 3. Composition And Perspective\n\nSpecify a selfie-style UGC composition:\n- Vertical 9:16 frame\n- Adult person close to camera\n- Product held prominently in the foreground, slightly angled toward the viewer\n- Face visible when safe and appropriate\n- Natural eye contact or candid glance\n- Product and hand interaction clearly visible\n- No phone visible in frame\n\n### 4. Dynamic Scene\n\nThe scene must be derived from the provided `Video Setting`, confirmed script, ICP, and product use case.\n\nDo not reuse one generic kitchen/bathroom setting for every product.\n\nExamples of scene adaptation:\n- Beauty product: bathroom, vanity, bedroom mirror area\n- Fitness product: gym entrance, parked car before workout, desk after workout\n- Baby or parenting product: adult parent in nursery, bedroom, laundry area, changing station, or product table setup\n- Home product: kitchen, living room, cleaning area, closet, desk setup\n- Travel product: suitcase packing area, hotel room, car trunk, airport-adjacent home setup\n\n### 5. Lighting And Texture\n\nUse natural, high-quality lighting:\n- Soft daylight\n- Warm morning or evening light\n- Realistic indoor practical lights\n- Shallow depth of field when useful\n- Clear focus on both product and human interaction\n\nAdd subtle imperfections:\n- Stray hair\n- Casual clothing\n- Natural hand position\n- Small background details\n- Slightly candid, spontaneous composition\n\nAvoid overly polished studio advertising unless the product category explicitly requires it.\n\n### 6. Output Rules\n\nOutput only the final image generation prompt in English.\n\nDo not output:\n- Markdown\n- JSON\n- Explanations\n- Bullet points\n- Separate negative prompt\n- Any image URL\n\nThe final prompt must be directly usable as the `prompt` value for `gpt-image-2-image-to-image`.\n\n---\n\n## User Message Template\n\nProduct:\n{{Product}}\n\nProduct reference image URL:\n{{ProductPhoto}}\n\nIdeal customer profile:\n{{ICP}}\n\nProduct features:\n{{ProductFeatures}}\n\nConfirmed ad script:\n{{ConfirmedScript}}\n\nDynamic video setting:\n{{VideoSetting}}\n\nWrite one GPT Image 2 image-to-image prompt for a realistic UGC key image. The product must match the reference image exactly. The scene should follow the dynamic video setting and should support the confirmed script.\n"
              }
            ]
          },
          "batching": {}
        },
        "id": "3314768d-05ad-45d3-bee9-6b1e73ad829e"
      },
      {
        "name": "DeepSeek Image Prompt Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          780,
          220
        ],
        "parameters": {
          "model": "deepseek-chat",
          "options": {
            "temperature": 0.45,
            "timeout": 180000,
            "maxTokens": 5000
          }
        },
        "credentials": {
          "deepSeekApi": {
            "id": "hrqsFWPtR87WzqHs",
            "name": "DeepSeek"
          }
        },
        "id": "e55c9cd7-46c1-4713-bd1c-8225d2008c16"
      },
      {
        "name": "Start image",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1040,
          0
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst prep = $('Prepare UGC input').first().json;\nconst ugcRow = $('DeepSeek UGC Row').first().json;\nif (prep.finalDialogue) ugcRow.ShortDialogue = prep.finalDialogue;\nif (ugcRow.Status && ugcRow.Status !== 'Ready') throw new Error('UGC 场景输入未就绪: ' + JSON.stringify(ugcRow));\nconst imagePrompt = chainText($input.first().json);\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nif (!kieKey) throw new Error('KIE_API_KEY 未配置。');\nconst token = await feishuToken();\nif (prep.existingImageUrl) {\n  await updateRecord(token, VIDEO_TABLE, prep.videoRecordId, { '视频状态': '生成视频中', 'UGC场景JSON': JSON.stringify(ugcRow, null, 2), 'UGC图片Prompt': imagePrompt, 'Veo口播脚本': ugcRow.ShortDialogue || prep.finalDialogue || '' });\n  return [{ json: { ...prep, ugcRow, imagePrompt, imageTaskId: prep.existingImageTaskId || 'reused-existing-image', imagePollCount: 0, imageReady: true, ugcImageUrl: prep.existingImageUrl, imageDescription: 'Reused existing UGC key image: ' + prep.existingImageUrl } }];\n}\nconst imgTask = await requestJson({\n  method: 'POST',\n  url: 'https://api.kie.ai/api/v1/jobs/createTask',\n  headers: { Authorization: 'Bearer ' + kieKey, 'Content-Type': 'application/json' },\n  body: { model: 'gpt-image-2-image-to-image', input: { prompt: imagePrompt, input_urls: [prep.referenceUrl], aspect_ratio: '9:16' } },\n}, 'KIE GPT Image 2 create');\nconst imageTaskId = imgTask?.data?.taskId;\nif (!imageTaskId) throw new Error('KIE 图片任务缺少 taskId: ' + JSON.stringify(imgTask).slice(0, 800));\nawait updateRecord(token, VIDEO_TABLE, prep.videoRecordId, { 'UGC场景JSON': JSON.stringify(ugcRow, null, 2), 'UGC图片Prompt': imagePrompt, 'Veo口播脚本': ugcRow.ShortDialogue || '', 'KIE图片任务ID': imageTaskId });\nreturn [{ json: { ...prep, ugcRow, imagePrompt, imageTaskId, imagePollCount: 0 } }];\n"
        },
        "id": "17b92ab2-a331-40d1-bd9a-e16ea93c0a02"
      },
      {
        "name": "Wait image",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          1280,
          160
        ],
        "parameters": {
          "resume": "timeInterval",
          "amount": 30,
          "unit": "seconds"
        },
        "id": "64031a28-3cdc-4c24-ad35-be487e6da39c",
        "webhookId": "bcdb5a7a-c1e7-4303-a80d-d84a246b604c"
      },
      {
        "name": "Poll image",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1520,
          0
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst item = $input.first().json;\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nconst token = await feishuToken();\nconst pollCount = Number(item.imagePollCount || 0) + 1;\nif (item.imageReady && item.ugcImageUrl) return [{ json: { ...item, imagePollCount: pollCount } }];\nconst res = await requestJson({ method: 'GET', url: 'https://api.kie.ai/api/v1/jobs/recordInfo?taskId=' + encodeURIComponent(item.imageTaskId), headers: { Authorization: 'Bearer ' + kieKey } }, 'KIE image poll');\nconst data = res?.data || {};\nif (data.state === 'fail') {\n  const msg = 'GPT Image 2 失败: ' + item.imageTaskId + ' / ' + (data.failMsg || 'unknown');\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nif (data.state === 'success') {\n  const urls = parseResultUrls(data.resultJson);\n  if (!urls.length) throw new Error('GPT Image 2 成功但无 URL');\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '生成视频中', 'UGC关键图URL': urlValue(urls[0]), 'UGC关键图分析': ('Generated from prompt: ' + item.imagePrompt).slice(0, 4000) });\n  return [{ json: { ...item, imageReady: true, imagePollCount: pollCount, ugcImageUrl: urls[0], imageDescription: 'Generated from prompt: ' + item.imagePrompt } }];\n}\nif (pollCount >= 40) {\n  const msg = 'GPT Image 2 超时: ' + item.imageTaskId;\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nreturn [{ json: { ...item, imageReady: false, imagePollCount: pollCount } }];\n"
        },
        "id": "9971efa8-6f58-4659-a028-e2d7261ecea3"
      },
      {
        "name": "Image ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          1760,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "imageReady-true",
                "leftValue": "={{ $json.imageReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "3ffc6c90-28f7-4fc9-8233-51ce2371cc8f"
      },
      {
        "name": "DeepSeek Video Prompt",
        "type": "@n8n/n8n-nodes-langchain.chainLlm",
        "typeVersion": 1.9,
        "position": [
          2000,
          0
        ],
        "parameters": {
          "promptType": "define",
          "text": "=Target video model: {{ $json.language === \"英文\" ? \"veo3_fast\" : \"bytedance/seedance-2-fast\" }}\\nOutput language: {{ $json.language }}\\nProduct: {{ $json.ugcRow.Product }}\\nIdeal customer profile: {{ $json.ugcRow.ICP }}\\nProduct features: {{ $json.ugcRow.ProductFeatures }}\\nDynamic video setting: {{ $json.ugcRow.VideoSetting }}\\nReference UGC key image description: {{ $json.imageDescription }}\\nShort dialogue: {{ $json.ugcRow.ShortDialogue }}\\n{{ $json.language === \"英文\" ? \"Generate one Veo 3.1 Fast prompt for an 8-second vertical UGC selfie-style product video with natural spoken English audio.\" : \"生成一条适合 Seedance 2.0 Fast 的 8 秒竖版 UGC 自拍口播视频 prompt，要求自然中文口播、口型同步、无字幕贴纸、无背景音乐。\" }}\\nReturn plain text only.",
          "messages": {
            "messageValues": [
              {
                "type": "SystemMessagePromptTemplate",
                "message": "# UGC Video Prompt - Language Routing\n\nThis prompt generates the final video-generation prompt used by AdFlow Studio.\n\nIt keeps the output model-aware:\n- English videos use KIE Veo 3.1 Fast and require natural English spoken UGC audio.\n- Chinese videos use KIE Seedance 2.0 Fast and require natural Chinese口播 with audio-lip synchronization.\n\n---\n\n## System Prompt\n\nYou are an advanced UGC video prompt engineer for AI video models.\n\nYour task is to generate one production-ready video prompt based on:\n- The target video model\n- The output language\n- The product\n- The ideal customer profile\n- Product features\n- The dynamic video setting\n- The confirmed 8-second dialogue\n- A reference UGC key image generated from the product reference photo\n- A reference image description\n\nYour goal is to create a realistic, spontaneous selfie-style vertical video filmed by an adult influencer using one hand to hold the phone off-camera and the other hand to hold or use the product.\n\nThe result should feel natural, unfiltered, and human, while ensuring strong visual and style consistency with the provided reference image.\n\nThe phone or camera must never appear in the shot.\nThe video must have exactly one adult on-screen speaker.\n\n---\n\n## Video Requirements\n\n### Subject And Framing\n\n- The subject should clearly represent the ICP persona, including age range, attire, lifestyle context, and overall vibe.\n- The subject must be an adult.\n- Use exactly one on-screen adult creator. No second actor, interviewer, customer, partner, child, crowd conversation, split-screen, or off-camera voice.\n- The video is recorded selfie-style, handheld at arm's length, in vertical 9:16 format.\n- The subject faces the camera directly while naturally interacting with the product.\n- The product remains clearly visible and recognizable.\n- The video should capture subtle camera shake, micro-movements, and natural imperfections that make it feel handheld and authentic.\n\n### Product Consistency\n\nThe product must match the reference UGC key image and original product reference.\n\nThe prompt must explicitly preserve:\n- Product color\n- Shape and silhouette\n- Packaging, garment structure, bottle shape, bottle cap, earbuds case, logo, label, print, material, zipper, seams, or other identifying details\n- Relative size in the person's hand\n\nDo not let the video model redesign, replace, simplify, relabel, recolor, or invent a different product.\n\n### Visual Style\n\n- Use natural lighting and realistic environments aligned with the dynamic video setting.\n- Include soft grain, slight exposure variation, and casual UGC realism.\n- The product, subject's face, hands, and interaction must remain visible.\n- No overlays, subtitles, watermarks, text stickers, fake logos, visible phones, mirrors, or camera reflections.\n- The appearance, colors, and setting should closely match the reference UGC key image.\n\n### Tone And Dialogue\n\n- The subject delivers the provided `ShortDialogue` exactly or with only tiny natural spoken contractions.\n- Delivery should feel spontaneous and relatable, not like a polished TV ad.\n- The speaker may smile, glance briefly at the product, then return eye contact to the camera.\n- Keep the dialogue fitted within 8 seconds.\n- If the source idea is dialogue-interactive, render it as one creator retelling or quoting the interaction in a single voice. Do not create a two-person conversation.\n\n### Model Routing\n\nIf `Target video model` is `veo3_fast`:\n- Write the final prompt in English.\n- Use clear spoken English dialogue.\n- Mention natural spoken UGC dialogue, ambient room sound, and no music.\n\nIf `Target video model` is `bytedance/seedance-2-fast`:\n- Write the final prompt in Chinese.\n- Use natural Chinese short-video口播语气.\n- 明确要求真人自然中文口播、口型与声音同步、无背景音乐、无字幕贴纸。\n- 不要把英文 TikTok 口吻硬翻成中文。\n\n---\n\n## Prompt Construction Instructions\n\nInclude:\n- A clear adult ICP persona\n- The dynamic real-life environment\n- The product interaction\n- The exact short spoken dialogue\n- Camera style: handheld selfie, mild shake, natural imperfections\n- Reference image consistency\n- Product accuracy constraints\n- Audio requirement based on the target model and language\n\nThe final prompt should be one clean paragraph or two short paragraphs, directly usable as the `prompt` value for the video generation API.\n\n---\n\n## Output Rules\n\nOutput only the final video generation prompt.\n\nDo not output:\n- Markdown\n- JSON\n- Explanations\n- Bullet points\n- Separate negative prompt\n- Any image URL\n"
              }
            ]
          },
          "batching": {}
        },
        "id": "035d16ca-3aa2-4b0e-8025-7c4c0032e4a5"
      },
      {
        "name": "DeepSeek Video Prompt Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
        "typeVersion": 1,
        "position": [
          2000,
          220
        ],
        "parameters": {
          "model": "deepseek-chat",
          "options": {
            "temperature": 0.45,
            "timeout": 180000,
            "maxTokens": 5000
          }
        },
        "credentials": {
          "deepSeekApi": {
            "id": "hrqsFWPtR87WzqHs",
            "name": "DeepSeek"
          }
        },
        "id": "80995e62-b0ef-4fbc-8a64-95632875f7db"
      },
      {
        "name": "Start Video",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2240,
          0
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst item = $('Image ready?').first().json;\nconst videoPrompt = chainText($input.first().json);\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nif (!kieKey) throw new Error('KIE_API_KEY 未配置。');\nconst token = await feishuToken();\nconst cleanPrompt = videoPrompt.replace(/\\r?\\n|\\r/g, ' ').replace(/[\"“”]/g, '');\nconst useVeo = item.language === '英文';\nconst videoModel = useVeo ? 'veo3_fast' : 'bytedance/seedance-2-fast';\nconst res = useVeo\n  ? await requestJson({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/veo/generate',\n      headers: { Authorization: 'Bearer ' + kieKey, 'Content-Type': 'application/json' },\n      body: { prompt: cleanPrompt, imageUrls: [item.ugcImageUrl], model: 'veo3_fast', aspect_ratio: '9:16', aspectRatio: '9:16', enableTranslation: true },\n    }, 'KIE Veo create')\n  : await requestJson({\n      method: 'POST',\n      url: 'https://api.kie.ai/api/v1/jobs/createTask',\n      headers: { Authorization: 'Bearer ' + kieKey, 'Content-Type': 'application/json' },\n      body: {\n        model: 'bytedance/seedance-2-fast',\n        input: {\n          prompt: cleanPrompt,\n          first_frame_url: item.ugcImageUrl,\n          resolution: '480p',\n          aspect_ratio: '9:16',\n          duration: 8,\n          generate_audio: true,\n          web_search: false,\n        },\n      },\n    }, 'KIE Seedance create');\nconst videoTaskId = res?.data?.taskId || res?.data?.task_id || res?.taskId;\nif (!videoTaskId) {\n  const msg = 'KIE 视频任务缺少 taskId: ' + JSON.stringify(res).slice(0, 1000);\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nawait updateRecord(token, VIDEO_TABLE, item.videoRecordId, { 'Veo视频Prompt': videoPrompt, 'KIE视频任务ID': videoTaskId, '生成配置': JSON.stringify({ video_model: videoModel, language: item.language, generate_audio: true, started_at: new Date().toISOString() }, null, 2) });\nreturn [{ json: { ...item, videoPrompt, videoTaskId, videoModel, videoProvider: useVeo ? 'veo' : 'seedance', videoPollCount: 0 } }];\n"
        },
        "id": "e5513075-d1ca-4a1d-9a9d-d4928660bddb"
      },
      {
        "name": "Wait Video",
        "type": "n8n-nodes-base.wait",
        "typeVersion": 1.1,
        "position": [
          2480,
          160
        ],
        "parameters": {
          "resume": "timeInterval",
          "amount": 30,
          "unit": "seconds"
        },
        "id": "44c93ea6-37b6-4717-966d-fdd40f944c33",
        "webhookId": "fbde72a1-aad9-4027-94d8-9ac5c3713411"
      },
      {
        "name": "Poll Video",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2720,
          0
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "\n\nconst APP_TOKEN = \"YOUR_FEISHU_BASE_TOKEN\";\nconst PRODUCT_TABLE = \"YOUR_PRODUCT_TABLE_ID\";\nconst HOOK_TABLE = \"YOUR_HOOK_TABLE_ID\";\nconst SCRIPT_TABLE = \"YOUR_SCRIPT_TABLE_ID\";\nconst VIDEO_TABLE = \"YOUR_VIDEO_TABLE_ID\";\nconst FEISHU_APP_ID = 'YOUR_FEISHU_APP_ID';\nconst FEISHU_APP_SECRET = String($env.FEISHU_APP_SECRET || '');\nconst httpRequest = (options) => this.helpers.httpRequest(options);\nasync function requestJson(options, label) {\n  let lastError;\n  for (let attempt = 1; attempt <= 12; attempt++) {\n    try {\n      const response = await httpRequest({ ...options, json: true, simple: false, resolveWithFullResponse: true, timeout: options.timeout || 120000 });\n      const statusCode = response.statusCode || response.status || 200;\n      const body = response.body ?? response;\n      if (statusCode < 200 || statusCode >= 300) throw new Error(label + ' HTTP ' + statusCode + ': ' + JSON.stringify(body).slice(0, 1000));\n      return body;\n    } catch (error) {\n      lastError = error;\n      const message = String(error?.message || error || '');\n      const responseBody = error?.response?.body || error?.response?.data || {};\n      const responseText = JSON.stringify(responseBody);\n      const transient = responseBody?.code === 1254607\n        || responseText.includes('1254607')\n        || message.includes('1254607')\n        || message.includes('Client network socket disconnected')\n        || message.includes('socket hang up')\n        || message.includes('ECONNRESET')\n        || message.includes('ETIMEDOUT')\n        || message.includes('EAI_AGAIN')\n        || message.includes('HTTP 500')\n        || message.includes('HTTP 502')\n        || message.includes('HTTP 503')\n        || message.includes('HTTP 504');\n      if (!transient || attempt >= 12) throw error;\n      await sleep(3000);\n    }\n  }\n  throw lastError;\n}\nasync function feishuToken() {\n  const res = await requestJson({ method: 'POST', url: 'https://open.feishu.cn/open-apis/auth/v3/tenant_access_token/internal', headers: { 'Content-Type': 'application/json' }, body: { app_id: FEISHU_APP_ID, app_secret: FEISHU_APP_SECRET } }, '飞书取 token');\n  return res.tenant_access_token;\n}\nasync function getRecord(token, tableId, recordId) {\n  if (!recordId) return null;\n  try {\n    const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token } }, '飞书读记录');\n    return res?.data?.record;\n  } catch (error) {\n    const records = await listRecords(token, tableId, 200);\n    const fallback = records.find((record) => record.record_id === recordId);\n    if (fallback) return fallback;\n    throw error;\n  }\n}\nasync function optionalRecord(token, tableId, recordId, label) {\n  if (!recordId) return { record: null, warning: label + '缺少关联记录 ID' };\n  try {\n    const record = await getRecord(token, tableId, recordId);\n    return { record, warning: record ? '' : label + '记录为空' };\n  } catch (error) {\n    return { record: null, warning: label + '读取失败: ' + String(error?.message || error).slice(0, 300) };\n  }\n}\nasync function listRecords(token, tableId, pageSize = 200) {\n  const res = await requestJson({ method: 'GET', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records?page_size=' + pageSize, headers: { Authorization: 'Bearer ' + token } }, '飞书列记录');\n  return res?.data?.items || [];\n}\nasync function updateRecord(token, tableId, recordId, fields) {\n  await requestJson({ method: 'PUT', url: 'https://open.feishu.cn/open-apis/bitable/v1/apps/' + APP_TOKEN + '/tables/' + tableId + '/records/' + recordId, headers: { Authorization: 'Bearer ' + token, 'Content-Type': 'application/json; charset=utf-8' }, body: { fields } }, '飞书更新记录');\n}\nfunction firstSelect(value) { return Array.isArray(value) ? String(value[0]?.text || value[0]?.name || value[0] || '') : String(value || ''); }\nfunction textCell(value) { if (Array.isArray(value)) return value.map((x) => x?.text || x?.name || x).join(''); if (value && typeof value === 'object') return value.text || value.link || ''; return String(value || ''); }\nfunction urlCell(value) { if (Array.isArray(value)) return value[0]?.link || value[0]?.text || ''; if (value && typeof value === 'object') return value.link || value.text || ''; return String(value || ''); }\nfunction linkIds(value) { return Array.isArray(value) ? value.map((x) => x?.record_id || x?.id || x?.record_ids?.[0] || x).filter(Boolean) : []; }\nfunction urlValue(url) { return url ? { text: url, link: url } : null; }\nfunction parseResultUrls(resultJson) {\n  if (!resultJson) return [];\n  let parsed = resultJson;\n  if (typeof parsed === 'string') { try { parsed = JSON.parse(parsed); } catch { return []; } }\n  const candidates = [parsed.resultUrls, parsed.result_urls, parsed.urls, parsed.imageUrls, parsed.videoUrls];\n  for (const c of candidates) if (Array.isArray(c) && c.length) return c.map(String);\n  if (typeof parsed.url === 'string') return [parsed.url];\n  return [];\n}\nfunction productBriefFromFields(fields) {\n  return {\n    source_url: urlCell(fields['产品链接']), product_name: textCell(fields['产品名称']), brand_name: textCell(fields['品牌名']), category: textCell(fields['品类']), price_info: textCell(fields['价格信息']), product_main_image_url: urlCell(fields['产品主图URL']),\n    core_functions: textCell(fields['核心功能']), materials_ingredients_technology: textCell(fields['材质成分技术']), specs_parameters: textCell(fields['规格参数']), usage_method: textCell(fields['使用方法']), usage_scenarios: textCell(fields['适用场景']),\n    core_selling_points: textCell(fields['核心卖点']), unique_mechanism: textCell(fields['独特机制']), differentiation: textCell(fields['差异化优势']), core_transformation: textCell(fields['核心蜕变']), proof_points: textCell(fields['证据背书']),\n    target_audience: textCell(fields['目标人群']), user_persona: textCell(fields['使用者画像']), buyer_persona: textCell(fields['购买者画像']), visceral_pain_points: textCell(fields['刺骨痛点']), emotional_triggers: textCell(fields['情绪触发器']), buyer_objections: textCell(fields['购买阻力']),\n    visual_hook_elements: textCell(fields['视觉抓手']), offer_and_guarantee: textCell(fields['优惠促销保障']), risk_constraints: textCell(fields['禁说内容风险点']), manual_notes: textCell(fields['用户手动备注'])\n  };\n}\nfunction chainText(input) { return String(input?.text || input?.output || input?.response || '').trim(); }\nasync function sleep(ms) { return new Promise((resolve) => setTimeout(resolve, ms)); }\nfunction parseJson(input) {\n  if (input && typeof input === 'object' && !input.text && !input.output) return input;\n  const raw = String(input?.text || input?.output || input?.response || '');\n  const cleaned = raw.replace(/^\\s*\\`\\`\\`(?:json)?/i, '').replace(/\\`\\`\\`\\s*$/i, '').trim();\n  try { return JSON.parse(cleaned); } catch {}\n  const first = cleaned.indexOf('{'); const last = cleaned.lastIndexOf('}');\n  if (first >= 0 && last > first) return JSON.parse(cleaned.slice(first, last + 1));\n  throw new Error('无法解析 JSON: ' + cleaned.slice(0, 500));\n}\n\nconst item = $input.first().json;\nconst kieKey = String($env.KIE_API_KEY || '').trim();\nconst token = await feishuToken();\nconst pollCount = Number(item.videoPollCount || 0) + 1;\nconst res = item.videoProvider === 'seedance'\n  ? await requestJson({ method: 'GET', url: 'https://api.kie.ai/api/v1/jobs/recordInfo?taskId=' + encodeURIComponent(item.videoTaskId), headers: { Authorization: 'Bearer ' + kieKey } }, 'KIE Seedance poll')\n  : await requestJson({ method: 'GET', url: 'https://api.kie.ai/api/v1/veo/record-info', headers: { Authorization: 'Bearer ' + kieKey }, qs: { taskId: item.videoTaskId } }, 'KIE Veo poll');\nconst data = res?.data || {};\nif (data.state === 'fail' || data.errorMessage || data.failMsg) {\n  const msg = '视频生成失败: ' + item.videoTaskId + ' / ' + (data.errorMessage || data.failMsg || 'unknown');\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nconst urls = data?.response?.resultUrls || parseResultUrls(data.resultJson);\nif ((data.state === 'success' || item.videoProvider === 'veo') && Array.isArray(urls) && urls.length) {\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, {\n    '视频状态': '视频已生成',\n    '视频URL': urlValue(String(urls[0])),\n    '生成配置': JSON.stringify({ llm_model: 'deepseek-chat', image_model: 'gpt-image-2-image-to-image', video_model: item.videoModel || 'veo3_fast', language: item.language, generate_audio: true, image_task_id: item.imageTaskId, video_task_id: item.videoTaskId, completed_at: new Date().toISOString() }, null, 2),\n    '错误信息': '',\n  });\n  return [{ json: { ...item, videoReady: true, videoUrl: String(urls[0]) } }];\n}\nif (pollCount >= 60) {\n  const msg = 'Veo 超时: ' + item.videoTaskId;\n  await updateRecord(token, VIDEO_TABLE, item.videoRecordId, { '视频状态': '失败', '错误信息': msg });\n  throw new Error(msg);\n}\nreturn [{ json: { ...item, videoReady: false, videoPollCount: pollCount } }];\n"
        },
        "id": "ba6de8ba-fb15-41bf-8130-9dcc01fe2069"
      },
      {
        "name": "Video ready?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2,
        "position": [
          2960,
          0
        ],
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "typeValidation": "loose"
            },
            "conditions": [
              {
                "id": "videoReady-true",
                "leftValue": "={{ $json.videoReady }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "67188653-3bab-48bb-8362-2a2dea691bd1"
      },
      {
        "name": "Final response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          3200,
          0
        ],
        "parameters": {
          "language": "javaScript",
          "jsCode": "const item = $input.first().json; return [{ json: { message: 'Video generated', videoRecordId: item.videoRecordId, videoUrl: item.videoUrl } }];"
        },
        "id": "8b38d7d0-1e41-41d2-a8bb-066654b3fa78"
      }
    ],
    "connections": {
      "Webhook: Generate Video": {
        "main": [
          [
            {
              "node": "Prepare UGC input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare UGC input": {
        "main": [
          [
            {
              "node": "DeepSeek UGC Row",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek UGC Row": {
        "main": [
          [
            {
              "node": "DeepSeek Image Prompt",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek UGC Row Model": {
        "ai_languageModel": [
          [
            {
              "node": "DeepSeek UGC Row",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Image Prompt": {
        "main": [
          [
            {
              "node": "Start image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Image Prompt Model": {
        "ai_languageModel": [
          [
            {
              "node": "DeepSeek Image Prompt",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Start image": {
        "main": [
          [
            {
              "node": "Wait image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait image": {
        "main": [
          [
            {
              "node": "Poll image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll image": {
        "main": [
          [
            {
              "node": "Image ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Image ready?": {
        "main": [
          [
            {
              "node": "DeepSeek Video Prompt",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait image",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Video Prompt": {
        "main": [
          [
            {
              "node": "Start Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "DeepSeek Video Prompt Model": {
        "ai_languageModel": [
          [
            {
              "node": "DeepSeek Video Prompt",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Start Video": {
        "main": [
          [
            {
              "node": "Wait Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Wait Video": {
        "main": [
          [
            {
              "node": "Poll Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Poll Video": {
        "main": [
          [
            {
              "node": "Video ready?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Video ready?": {
        "main": [
          [
            {
              "node": "Final response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Wait Video",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Yueying Wu",
    "name": null,
    "description": null,
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-05-22T08:26:08.505Z",
        "id": 253,
        "workflowId": "yMmlKAPxLYMAt0Bq",
        "versionId": "2cf8d376-694e-4337-a5b0-953a337dd52b",
        "event": "activated",
        "userId": "5aa488b4-77bf-43f0-82bd-3daccdaa2b29"
      },
      {
        "createdAt": "2026-05-22T09:04:33.734Z",
        "id": 266,
        "workflowId": "yMmlKAPxLYMAt0Bq",
        "versionId": "2cf8d376-694e-4337-a5b0-953a337dd52b",
        "event": "activated",
        "userId": "5aa488b4-77bf-43f0-82bd-3daccdaa2b29"
      },
      {
        "createdAt": "2026-05-22T08:26:08.429Z",
        "id": 252,
        "workflowId": "yMmlKAPxLYMAt0Bq",
        "versionId": "2cf8d376-694e-4337-a5b0-953a337dd52b",
        "event": "deactivated",
        "userId": "5aa488b4-77bf-43f0-82bd-3daccdaa2b29"
      },
      {
        "createdAt": "2026-05-22T09:04:33.697Z",
        "id": 265,
        "workflowId": "yMmlKAPxLYMAt0Bq",
        "versionId": "2cf8d376-694e-4337-a5b0-953a337dd52b",
        "event": "deactivated",
        "userId": "5aa488b4-77bf-43f0-82bd-3daccdaa2b29"
      }
    ]
  }
}
